# ================= PYTHON =================
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# ================= VENV =================
venv/
crowd_firebase/
.env/

# ================= FIREBASE (SECRET 🔐) =================
firebase_key.json

# ================= STREAMLIT =================
.streamlit/

# ================= OS FILES =================
.DS_Store
Thumbs.db

# ================= IDE =================
.vscode/
.idea/

# ================= LOGS =================
*.log

# ================= MODEL FILES (OPTIONAL) =================
# Comment if you want to upload model
# yolov8n.pt
yolov8s.pt

# ================= DATA FILES =================
*.mp4
*.avi
*.mov
*.mkv

# ================= DATABASE =================
crowd_system.db

# ================= TEMP FILES =================
*.tmp
*.temp